/* This will effect everything from 0 to 576px */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Oswald:wght@200;300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
body {
    margin: 0;
    font: 1rem/1.5rem 'Open Sans', sans-serif;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.col {
    width: 8%;
}
.twocol {
    width: 20%;
}
.qtr {
    width: 25%;
}
.sevencol {
    width: 56%;
}
.ninecol {
    width: 72%;
}
/*nav styles*/
header {
    margin: 2rem 0;
}
.top {
    display: none;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #666666;
    position: absolute;
    height: 7px;
    width: 37px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/*hero styles*/
#hero {
    background: url("../image/hero.jpg") no-repeat;
    background-size: cover;
    color: white;
    height: 16rem;
}
#hero .black-background {
    width: 8.9rem;
    height: 16rem;
    background: rgba(0,0,0,.9);
}
#hero h2 {
    padding-top: 2.5rem;
    font-family: 'Oswald', sans-serif;
    text-align: right;
}
#hero h1, #hero h2 {
    text-align: right;
}
#hero h1 {
    font: 'Oswald';
    font-weight: 200;
    font-size: 2.3rem;
}
#hero P {
    text-align: right;
    font-family: 'Open-Sans';
    font-weight: 200;
    font-style: italic;
    font-size: .75rem;
}
#hero a {
    color: white;
    font-size: .75rem;
    border: 1px solid white;
    text-align: right;
    text-decoration: none;
}

/*second section*/
.half {
    width: 50%;
    text-align: center;
}
.third {
    margin: 1.5rem 0 1.7rem 0;
    width: 50%;
    text-align: center;
}
.third img {
    margin-bottom: 2.06rem;
}
a {
    color: ababab;
}
.best-menu {
    display: none;
}
/*third section*/
.angled-pizza {
    background: url("../image/pizza_ad.jpg")no-repeat;
    background-size: cover;
    height: 16.6rem;
    color: white;
    text-align: right;
    margin-bottom: 2rem;
}
.angled-pizza h1 {
    padding-top: 2.69rem;
    font: 1.93rem/2.5rem 'oswald';
    font-weight: 200;
}
.angled-pizza h3 {
    font-family: 'Oswald';
    font-size: 2.03rem;
    font-weight: 800;
}
/*location*/
.location {
    background: #d9e5d9;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}
.location h1 {
    padding: 1rem 0;
    font-family: 'oswald';
    font-size: 1.9rem;
    font-weight: 200;
}
.location img{
    width: 100%;
}
/*footer*/
footer {
    background: black;
    color: #575757;
}
footer h1 {
    font-family: 'Oswald';
    font-weight: 200;
    font-size: 1.9rem;
}
footer p {
    font-family: 'Open Sans';
    font-size: .63rem;
}
footer h3 {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: .88rem;
    text-transform: uppercase;
    text-align: center;
}
footer .center {
    padding-top: .72rem;
    text-align: center;
    text-transform: uppercase;
}
footer li {
    list-style-type: none;
}
footer a,  hr {
    color: #575757;
}
footer hr {
    height: 3px;
    width: 59%;
}
footer button {
    background: #575757;
    color: #c2c2c2;
    height: 26px;
    padding: 0 .25rem;
}
input {
    width: 12rem;
    height: 26px;
    margin-bottom: 1.1rem;
}
.column {
    flex-direction: column;
}
.gallery {
    display: none;
}
/* margin:;edia Queries */
@media (min-width: 576px) /* for mobile */{
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
    .menu a {
        color: #339933;
        text-decoration: none;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
@media (min-width:768px) /* for tablets */{}
@media (min-width: 992px) /* for laptops */{
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1200px;
    }
    .top {
        display: inline;
        align-items: center;
    }
    .top li {
        list-style-type: none;
        padding-top: 2.2rem;
    }
    .top a {
        color: #2a2a2a;
        text-decoration: none;
    }
    .top-nav {
        display: none;
    }
    .third {
        width: 33%;
    }
    .best-menu {
        display: block;
    }
    .angled-pizza {
        display: none;
    }
    .location {
        display: none;
    }
    .gallery {
        display: contents;
    }
}
@media (min-width: 1200px) /* for large devices */{}